---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getConstants } from "@consts";
import TagsIndexSchema from "@seo/TagsIndexSchema.astro";

const currentLocale = "en";
const constants = getConstants(currentLocale);

const allPosts = await getCollection("posts", ({ id }) => id.startsWith("en/"));

let tagCounts: { [key: string]: number } = {};
allPosts.forEach((post) => {
  (post.data.tags || []).forEach((tag) => {
    if (tag in tagCounts) {
      tagCounts[tag] += 1;
    } else {
      tagCounts[tag] = 1;
    }
  });
});

const tags = Object.keys(tagCounts);
---

<BaseLayout
  title={constants.TAGS_TITLE}
  description={constants.TAGS_DESCRIPTION}
>
  <TagsIndexSchema tags={tags} tagCounts={tagCounts} locale={currentLocale} />
  <h1 class="sr-only">All Tags</h1>
  <h2 class="sr-only">Tag List</h2>
  <div class="prose prose-lg mx-auto p-6">
    <div class="grid grid-cols-2 gap-4 sm:grid-cols-3 md:grid-cols-3">
      {
        tags.map((tag) => (
          <a
            href={`/en/tags/${tag}/1/`}
            class="rounded-full bg-neutral-200 px-3 py-2 text-center text-sm font-semibold no-underline hover:bg-neutral-300 dark:bg-neutral-700 dark:hover:bg-neutral-600"
          >
            {tag} <span>({tagCounts[tag]})</span>
          </a>
        ))
      }
    </div>
  </div>
</BaseLayout>